@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap");

@layer base {
  .font-karla {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
  }

  .font-markazi {
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
  }

  .text-title {
    @apply text-[64px] font-markazi font-medium text-black;
  }

  .text-subtitle {
    @apply text-[40px] font-markazi text-black;
  }

  .text-lead {
    @apply text-lg font-medium text-black font-karla;
  }

  .text-sectiontitle {
    @apply text-xl font-extrabold text-black uppercase font-karla;
  }

  .text-sectioncategories {
    @apply text-base font-extrabold text-black font-karla;
  }

  .text-cardtitle {
    @apply text-lg font-bold text-black font-karla;
  }

  .text-p {
    @apply text-base font-karla max-w-[65ch] leading-normal text-primary-green;
  }

  .text-highlighted {
    @apply text-base font-medium font-karla text-primary-green;
  }
}
